body {
    color: #111;
    font-family: Inter, 'Noto Sans SC', 'Source Han Sans SC', 'Noto Sans TC', 'Source Han Sans TC', 'Noto Sans CN', 'Source Han Sans CN', 'Noto Sans CJK', 'Source Han Sans CJK', 'Noto Sans', 'Source Han Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: -.05px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #fafafa;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 85vh;
    width: 100vw;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

.animated {
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
}

#app {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.notice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notice svg {
    height: 1.6em;
    margin-bottom: 0.5em;
}

.notice .contact {
    display: flex;
    flex-direction: column;
    font-size: .8em;
    margin-top: .5em;
}

.notice .contact a {
    text-decoration: none;
    color: inherit;
}

#copyBtn {
    background-color: transparent;
    padding: .2em .4em;
    border-radius: 4px;
    border: 1px solid #111;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#copyBtn.success {
    border: none;
    background-color: #4CAF50;
    color: white;
    transform: scale(0.98);
}

#copyBtn.error {
    border: none;
    background-color: #f44336;
    color: white;
    transform: scale(0.95);
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .7em;
    font-weight: 600;
}

.handscript-element-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

}

.handscript-element-overlay img {
    position: absolute;
    opacity: .6;
}

.heo .img1 {
    bottom: -3vh;
    left: 50vw;
}

.heo .img2 {
    top: 50vh;
    left: 10vw;
}

.heo .img3 {
    top: 40vh;
    left: 80vw;
    transform: rotate(22deg);
}

.heo .img4 {
    top: 60vh;
    left: 70vw;
}

.heo .img5 {
    top: 8vh;
    left: 30vw;
}

.heo .img6 {
    top: 25vh;
    left: 45vw;
    transform: scaleX(-1);
}

@media (max-height: 1000px) {
    .heo img {
        transform: scale(.65);
        transform-origin: center center;
    }

    .heo .img3 {
        transform: scale(.65) rotate(22deg);
    }

    .heo .img6 {

        transform: scale(.65) scaleX(-1);
    }
}

.color-filter-overlay {
    position: fixed;
    top: -5vh;
    left: -5vw;
    width: 110vw;
    height: 110vh;
    background-image: url('filter-image.jpg');
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: 1;
    filter: blur(16px);
    z-index: 9999;
    pointer-events: none;
}